<footer
  class="bg-gradient-to-b
  from-[#FFF8F5]
  to-[#FDEFEA]
  mt-20
  rounded-t-[40px]">

  <div
    class="max-w-7xl
    mx-auto
    px-6
    py-16">

    <!-- TOP -->

    <div
      class="grid
      md:grid-cols-2
      lg:grid-cols-4
      gap-10">

      <!-- Logo -->

      <div>

        <img
          src="/images/logo.png"
          alt="Sakshi Krafts"
          class="w-48 mb-5">

        <p
          class="text-gray-600 leading-8">

          Handmade gifts crafted with love,
          care and creativity for your
          special moments.

        </p>

      </div>

      <!-- Quick Links -->

      <div>

        <h3
          class="font-semibold text-xl mb-5">

          Quick Links

        </h3>

        <ul
          class="space-y-3 text-gray-600">

          <li>

            <a
              routerLink="/"
              class="hover:text-pink-500 transition">

              Home

            </a>

          </li>

          <li>

            <a
              routerLink="/products"
              class="hover:text-pink-500 transition">

              Shop

            </a>

          </li>

          <li>

            <a
              routerLink="/custom-orders"
              class="hover:text-pink-500 transition">

              Custom Orders

            </a>

          </li>

          <li>

            <a
              routerLink="/about"
              class="hover:text-pink-500 transition">

              About Us

            </a>

          </li>

          <li>

            <a
              routerLink="/contact"
              class="hover:text-pink-500 transition">

              Contact

            </a>

          </li>

          <li>

            <a
              routerLink="/wishlist"
              class="hover:text-pink-500 transition">

              Wishlist

            </a>

          </li>

          <li>

            <a
              routerLink="/cart"
              class="hover:text-pink-500 transition">

              Cart

            </a>

          </li>

        </ul>

      </div>

      <!-- Why Choose Us -->

      <div>

        <h3
          class="font-semibold text-xl mb-5">

          Why Choose Us

        </h3>

        <ul
          class="space-y-3 text-gray-600">

          <li class="flex gap-2">
            <lord-icon
    src="https://cdn.lordicon.com/ulnswmkk.json"
    trigger = 'click'
    colors="primary:#ec4899"
    style="width:24px;height:24px">
</lord-icon> 100% Handmade</li>

          <li class="flex gap-2">
            <lord-icon
    src="https://cdn.lordicon.com/gqzfzudq.json"
    trigger = 'click'
    colors="primary:#f59e0b"
    style="width:24px;height:24px">
</lord-icon> Premium Quality</li>

          <li class="flex gap-2">
            <lord-icon
    src="https://cdn.lordicon.com/aycieyht.json"
    trigger = 'click'        
    colors="primary:#ec4899"
    style="width:24px;height:24px">
</lord-icon> Gift Ready</li>

          <li class="flex gap-2">
            <lord-icon
    src="https://cdn.lordicon.com/vpbspaec.json"
    trigger= "click"
    colors="primary:#22c55e"
    style="width:24px;height:24px">
</lord-icon> WhatsApp Support</li>

        </ul>

      </div>

      <!-- Contact -->

      <div>

        <h3
          class="font-semibold text-xl mb-5">

          Contact Us

        </h3>

        <ul
          class="space-y-3 text-gray-600">

          <li class="flex gap-2">

            <lord-icon
    src="https://cdn.lordicon.com/srsgifqc.json"
    tigger = "click"
    colors="primary:#22c55e"
    style="width:24px;height:24px">
</lord-icon> +91 7208553533

          </li>

          <li class="flex gap-2">

            <lord-icon
    src="https://cdn.lordicon.com/xtnsvhie.json"
    trigger = "click"
    colors="primary:#ef4444"
    style="width:24px;height:24px">
</lord-icon> hello@sakshikrafts.com

          </li>

          <li class="flex gap-2">

            <lord-icon
    src="https://cdn.lordicon.com/onmwuuox.json"
    trigger = "click"
    colors="primary:#ec4899"
    style="width:24px;height:24px">
</lord-icon> Panvel, Navi Mumbai

          </li>

        </ul>

      </div>

    </div>

    <!-- CTA -->

    <div
      class="mt-14
      bg-pink-50
      rounded-3xl
      p-8
      text-center">

      <h2
        class="font-serif text-3xl">

        Have a Custom Gift Idea?

      </h2>

      <p
        class="text-gray-600 mt-3">

        We'd love to create something special just for you.

      </p>

      <button
        (click)="openWhatsapp()"
        class="mt-6
        bg-green-500
        hover:bg-green-600
        duration-300
        text-white
        px-8
        py-3
        rounded-xl">

         Order on WhatsApp

      </button>

    </div>

    <!-- Social -->

    <div
      class="flex
      justify-center
      gap-5
      mt-12
      flex-wrap">

      <button
        (click)="openInstagram()"
        class="px-6 flex gap-2
        py-3
        rounded-xl
        bg-blue-800
        text-white
        hover:scale-105
        duration-300">

        <lord-icon
    src="https://cdn.lordicon.com/ewswvzmw.json"
    trigger = "click"
    colors="primary:#ffffff"
    style="width:24px;height:24px">
</lord-icon> Instagram

      </button>

      <button
        (click)="sendMail()"
        class="px-6 flex gap-2
        py-3
        rounded-xl
        bg-red-500
        text-white
        hover:scale-105
        duration-300">

        <lord-icon
    src="https://cdn.lordicon.com/xtnsvhie.json"
    trigger = "click"
    colors="primary:#ffffff"
    style="width:24px;height:24px">
</lord-icon> Email

      </button>

      <button
        (click)="openWhatsapp()"
        class="px-6 flex gap-2
        py-3
        rounded-xl
        bg-green-500
        shadow-2xl
        text-white
        hover:scale-105
        duration-300">

        <lord-icon
    src="https://cdn.lordicon.com/vpbspaec.json"
    trigger = "click"
    colors="primary:#ffffff"
    style="width:26px;height:26px;">
</lord-icon> WhatsApp

      </button>

    </div>

    <!-- Copyright -->

    <div
      class="border-t
      border-pink-100
      mt-12
      pt-6
      text-center
      text-gray-500">

      <p>

        © 2026 Sakshi Krafts. All Rights Reserved.

      </p>

      <p
        class="mt-2
        text-sm">

        Made with ❤️ in India

      </p>

    </div>

  </div>

</footer>