<section
  class="relative overflow-hidden bg-[#FCF7F4] min-h-screen">

  <!-- Background -->

  <div
    class="absolute inset-0 bg-cover bg-center opacity-70"
    style="background-image:url('/images/hero-bg.png')">
  </div>

  <div
    class="relative z-10 max-w-[1600px] mx-auto px-6 lg:px-20">

    <div
      class="flex flex-col-reverse lg:flex-row items-center justify-between min-h-screen pt-28 lg:pt-10">

      <!-- LEFT -->

      <div
        class="w-full lg:w-1/2 text-center lg:text-left">

        <p
          class="text-[#7D9B6A] italic text-2xl md:text-3xl mb-6">

          Handmade with love 💕

        </p>

        <h1
          class="font-serif text-5xl md:text-6xl lg:text-[92px] leading-[0.95] text-[#2E2A28]">

          Handmade Gifts

          <br>

          Crafted With

          <span class="text-pink-400">

            Love

          </span>

        </h1>

        <p
          class="mt-8 text-gray-600 text-lg md:text-xl leading-8 max-w-xl mx-auto lg:mx-0">

          Beautiful handcrafted creations
          for your loved ones.

          <br>

          Made with care, just for you.

        </p>

        <div
          class="flex flex-col sm:flex-row gap-5 mt-10 justify-center lg:justify-start">

          <button routerLink="/products"
            class="bg-pink-400 active:scale-96 hover:bg-pink-500 text-white px-10 py-4 rounded-2xl text-lg font-medium transition">

            Shop Now →

          </button>

          <button routerLink="custom"
            class="bg-[#6E8D5C] active:scale-96 hover:bg-[#5E7A4E] text-white px-10 py-4 rounded-2xl text-lg font-medium transition">

            Custom Order WhatsApp

          </button>

        </div>

      </div>

      <!-- RIGHT -->

      <div
        class="w-full lg:w-[60%] flex justify-center lg:justify-end">

        <img
          src="/images/flowers.png"
          alt="Crochet Bouquet"
          class="w-[320px] md:w-[550px] lg:w-[100px] xl:w-[1000px] max-w-none object-contain">

      </div>

    </div>

  </div>

</section>