<section id="category" class="py-16 px-5 lg:px-10">

    <h2
        class="text-center text-3xl lg:text-5xl font-serif text-[#2E2A28] mb-10">

        Shop by Collection

        <span class="text-pink-400">

            ♥

        </span>

    </h2>

    <div
        class="grid grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-8">

        @for(category of categories; track category._id){

        <div

            (click)="openCategory(category.name)"

            class="bg-white rounded-3xl overflow-hidden shadow-sm hover:shadow-lg hover:-translate-y-2 transition-all duration-300 cursor-pointer">

            <img

                [src]="category.image"

                [alt]="category.name"

                class="w-full h-40 lg:h-56 object-cover">

            <div class="p-4 text-center">

                <h3
                    class="font-semibold text-lg">

                    {{category.name}}

                </h3>

            </div>

        </div>

        }

    </div>

</section>